html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #dfdddd;
    /* user-select: none; */
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 70px;
}

.hidden {
    overflow: hidden;
}

.h-visible {
    overflow: visible;
}

.no-scroll .menu-pos {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.text-resize {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}

.menu-pos {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.banner {
    width: 100%;
    height: 70vh;
    background-color: #111;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.3s all;
}

.datainfo {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);

}

.datainfo .scroll_div {
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.tags ul {
    list-style: none;
    padding: 0;
    min-height: 60px;
    transition: 0.3s all;
}

.tags ul li {
    display: inline-block;
    position: relative;
    padding: 3px;
    /* transition: 0.2s all; */
}

.tags ul li a {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(17, 17, 17, 0.548);
    color: #fff;
    border-radius: 4px;
    font-family: "Roboto";
}

.date_add {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
}

.date_add .icon-date_range {
    font-size: 25px;
}

.date_add .date_text {
    font-size: 20px;
    font-family: "Roboto";
    padding-left: 10px;
}

.name_post h4 {
    color: #fff;
}

.short_dcp {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.short_dcp p {
    display: inline-block;
    font-size: 20px;
    font-family: "Roboto";
    color: #fff;
}

.liner_game {
    width: 100%;
    height: 2px;
    background-color: rgba(33, 33, 33, 0.219);
    margin: 50px 0 20px 0;
    border-radius: 4px;
}

/* columns */
.columns-apps {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.columns-row {
    width: 50%;
    margin-bottom: 30px;
    overflow: hidden;
}

.title_page {
    font-size: 20px;
    font-family: "Roboto";
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
}

.title_page::after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 5px;
    background-color: rgba(114, 114, 114, 0.336);
    border-radius: 4px;
}

.columns-left {
    width: 30%;
    transition: 0.3s all;
}

.container-left {
    padding-right: 40px;
    overflow: auto;
}

.container-left .list_rec li {
    width: 100%;
    min-height: 70px;
    position: relative;
    list-style: none;
    display: inline-block;
    padding-left: 75px;
}

.container-left .list_rec li+li {
    margin-top: 10px;
}


.img_rec {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-color: #222;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.data_art {
    width: 100%;
    min-height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.name_art {
    font-family: "Roboto";
    font-size: 20px;
    line-height: 1;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-right: 60px;
    cursor: pointer;
}

.name_art span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-0, -50%);
}

.dcp_rec {
    width: 100%;
    font-size: 14px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.columns-right {
    width: 70%;
}

.container-col {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-bottom: 0;
    overflow: visible;
    margin-bottom: 40px;
}

.columns-col {
    width: 25%;
    /* height: 300px; */
    padding: 10px 10px 0 0;
    transition: 0.3s all;
}

.container-col .item {
    width: 100%;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-color: #222;
    border-left: inset 1px #393855;
    border-top: inset 1px #393855;
    border-right: inset 1px #393855;
    position: relative;
}

.container-col .item-name {
    background-color: #111;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 10px 10px;
    font-family: "Roboto";
    border-left: inset 1px #393855;
    border-bottom: inset 1px #393855;
    border-right: inset 1px #393855;
    cursor: pointer;
}


.aviso-is {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0;
}

.new-art {
    width: 30px;
    height: 30px;
    font-size: 25px;
    border-radius: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    align-items: center;
    justify-content: center;
}

.recentpost {
    position: absolute;
    left: -5px;
    top: -5px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    z-index: 9;
}

.recentpost span {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: -25px;
    top: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    background-color: #01AE43;
    z-index: 2;
    line-height: 25px;
}

.recentpost:before,
.recentpost:after {
    position: absolute;
    width: 5px;
    height: 5px;
    content: '';
    z-index: 1;
}

.recentpost:before {
    left: 0;
    bottom: 5px;
    background-color: #007A2D;
    height: 7px;
}

.recentpost:after {
    right: 5px;
    top: 0;
    background-color: #007A2D;
    width: 7px;
}


@media (max-width: 1528px) {
    .columns-left {
        width: 20%;
    }

    .columns-right {
        width: 80%;
    }
}

@media (max-width: 1154px) {
    .columns-col {
        width: 33.33333333333333%;
    }
}

@media (max-width: 1256px) {
    .columns-left {
        width: 100%;

        .title_page {
            position: sticky;
            top: 0;
            background-color: #dfdddd;
            z-index: 9;
        }
    }

    .container-left {
        padding: 0 10px;
        max-height: 300px;
    }

    .container-left::-webkit-scrollbar-track {
        background: transparent;
    }

    .columns-right {
        width: 100%;
    }

    .columns-col {
        width: 25%;
    }
}

@media (max-width: 774px) {
    .columns-col {
        width: 33.33333333333333%;
    }
}

@media (max-width: 613px) {
    .columns-col {
        width: 50%;
    }
}

/* view */
.bg_game {
    width: 100%;
    height: 100%;
    background-color: #111;
    position: relative;
}

.img_bg {
    width: 100%;
    height: 100%;
    transition: 0.3s all;
    background-size: cover;
    background-position: center;
    opacity: 0;
    position: relative;
}

.img_bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.973));
}

.container-info {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.info-row {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.info-left {
    width: 20%;
}

.info-col {
    min-height: 300px;
}

.info-right {
    width: 80%;
}


/* left */
.contenedor-info {
    padding: 10px;
    min-width: 100%;
    max-width: 100%;
    overflow: visible;
}

.contenedor-info .sprt {
    overflow: hidden;
}

.contenedor-info .sprt+.sprt {
    margin-top: 30px;
}

.info-left .cover {
    width: 100%;
    padding-top: 120%;
    /* margin-left: -500px; */
    background-size: cover;
    background-position: center;
    opacity: 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.download_art{
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto Thin";
    text-align: center;
    cursor: pointer;

}

.ratings {
    width: 100%;
    margin-top: 10px;
    opacity: 0;
}
.ratings + .ratings{
    margin-top: 15px;
}

.title-ratings {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    font-size: 25px;
    color: #fff;
    font-family: "Roboto Thin";
    opacity: 0;
}

.ratings-recommended {
    opacity: 0;
}

.ratings-recommended+.ratings-recommended {
    margin-top: 20px;
}

.ratings-recommended .title-rat {
    color: #fff;
    font-size: 17px;
    margin-bottom: 5px;
    font-family: "Roboto Thin";
}

.progress-ratings {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 5px;
    background-color: rgba(17, 17, 17, 0.342);
    border-radius: 10px;
}

.run-progress-ratings {
    width: 0%;
    height: 100%;
    border-radius: 10px;
}

.progress-ratings .recommended {
    background-color: #2196f3;
}

.progress-ratings .exceptional {
    background-color: #00e676;
}

.progress-ratings .meh {
    background-color: #f57c00;
}

.progress-ratings .skip {
    background-color: #f4511e;
}

.stores-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.stores-list li{
    list-style: none;
    padding: 2px 4px;
    width: 100%;
 }

 .stores-list li .store-btn{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #111;
    color: #fff;
    font-family: "Roboto Thin";
    padding: 7px 15px;
    font-size: 20px;
    border-radius: 4px;
 }

/* right */
.title-sprt {
    width: 100%;
    min-width: 100%;
    font-size: 25px;
    color: #fff;
    font-family: "Roboto Thin";
    opacity: 0;
}

.all_genres_tags {
    width: 100%;
    min-width: 100%;
    opacity: 0;
}

.all_genres_tags li {
    list-style: none;
    display: inline-block;
    opacity: 0;
    /* transform: scale(1.3); */
}

.all_genres_tags li a {
    background-color: rgba(17, 17, 17, 0.651);
    display: inline-block;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    margin: 4px;
}

.about_art {
    font-size: 20px;
    font-family: "Roboto Thin";
    color: #fff;
    opacity: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.info_devs_publisher {
    opacity: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    color: #fff;
}

.info_devs_publisher li {
    width: 100%;
    list-style: none;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 37px;
    overflow: hidden;
    position: relative;
    padding-left: 90px;
}

.title_dev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-0, -50%);
}

.info_devs_publisher li.noh {
    height: 37px;
    overflow: hidden;
}

.title_dev {
    margin-right: 5px;
}

.devs_list {
    width: 100%;
}

.devs_list span {
    display: inline-block;
    padding: 4px 7px;
    border-bottom: solid 1px #2979ff;
    border-radius: 4px;
    cursor: pointer;
}

.sprt-requi+.sprt-requi {
    margin-top: 20px;
}

.requisitos_art {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    color: #fff;
    opacity: 0;
}

/* .devs_list span + span{
    margin-left: 10px!important;
} */
.pre-line-js {
    white-space: pre-line;
}

@media (max-width: 738px) {
    .info-left {
        width: 100%;
    }

    .contenedor-info {
        text-align: center;
    }

    .info-left .contenedor-info .cover {
        width: 200px;
        height: 200px;
        padding: 0;
        border-radius: 100%;
        opacity: 0;
        margin-left: -100px;
        transition: opacity 0.7s, margin 0.7s;
        
    }

    .info-left .list-ratings .progress-ratings{
        background-color: transparent;
    }

    .info-left .list-ratings .run-progress-ratings{
        margin: auto;
    }

    .info-right {
        width: 100%;
    }

    .stores-list li{
        width: 50%;
     }

}



/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}