<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFree | Juegos</title>
  <!-- Iconos -->
  <link rel="stylesheet" href="/lib/icomoon/icomoon.css">
  <link rel="stylesheet" href="/lib/faws/style.css">

  <!-- Roboto -->
  <link rel="stylesheet" href="/lib/roboto/roboto.css">

  <!-- Materializecss -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">

  <!-- Menu -->
  <link rel="stylesheet" href="/lib/css/menu-mz.css">

  <!-- SFree -->
  <link rel="stylesheet" href="/css/sfree.css">
  <link rel="stylesheet" href="/css/games.css">

</head>

<body class="page-games no-scroll">
  <!-- Menu -->
  <%- include('../include/menu.ejs') %>

  <div class="bg_load"></div>
  <div class="bg_gra"></div>
  <div class="container_body">
    <div class="contenedor-row-games">
      <div class="row-game-left">
        <div class="gm-left">
          <div class="gm-all-tags" id="tags-scroll-infinite">
            <div class="gm-title">
              Tags
            </div>

            <!-- <li><a href="#" class="text-resize">Accion</a></li> -->

          </div>
        </div>
      </div>
      <div class="row-game-right">
        <div class="gm-right">
          <div class="gm-row" id="games-show">

            <% for( let i = 0; i < 0; i++ ) { %>
            <div class="gm-col">
              <div class="item">
                <span class="recentpost"><span>Estreno</span></span>
                <div class="footer-item">
                  <div class="name-item-gm">Call of Duty: Black Ops Cold War</div>
                </div>
              </div>
            </div>
            <% } %>

          </div>
          <div class="center">
            <ul class="pagination" id="pagination-home"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- jquery -->
  <script src="/lib/jQuery/jquery.module.js"></script>

  <!-- materialize -->
  <script src="/lib/materialize/js/materialize.min.js"></script>
  <script src="/lib/materialize/js/init.js"></script>

  <!-- pagination -->
  <script src="/lib/paginations/pagination.min.js"></script>

  <!-- infiniteScroll -->
  <script src="/lib/js/infinitescroll.js"></script>

  <!-- saved -->
  <script src="/lib/js/saved.js"></script>

  <!-- util -->
  <script src="/lib/js/codeutilkit.js"></script>

  <!-- SFree -->
  <script src="/js/sfree.js"></script>
</body>

</html>