<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFree | Inicio</title>
  <!-- Iconos -->
  <link rel="stylesheet" href="/lib/icomoon/icomoon.css">
  <link rel="stylesheet" href="/lib/faws/style.css">

  <!-- Roboto -->
  <link rel="stylesheet" href="/lib/roboto/roboto.css">

  <!-- Materializecss -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">

  <!-- Menu -->
  <link rel="stylesheet" href="/lib/css/menu-mz.css">

  <!-- SFree -->
  <link rel="stylesheet" href="/css/sfree.css">

</head>

<body>
  <!-- Menu -->
  <%- include('../include/menu.ejs') %>

  <div class="contenedor-app">
    <div class="banner">

    </div>
  </div>

  <!-- jquery -->
  <script src="/lib/jQuery/jquery.module.js"></script>

  <!-- materialize -->
  <script src="/lib/materialize/js/materialize.min.js"></script>
  <script src="/lib/materialize/js/init.js"></script>

  <!-- pagination -->
  <script src="/lib/paginations/pagination.min.js"></script>

  <!-- saved -->
  <script src="/lib/js/saved.js"></script>

  <!-- util -->
  <script src="/lib/js/codeutilkit.js"></script>

  <!-- SFree -->
  <script src="/js/sfree.js"></script>
</body>

</html>