<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFree | ...</title>
  <!-- Iconos -->
  <link rel="stylesheet" href="/lib/icomoon/icomoon.css">
  <link rel="stylesheet" href="/lib/faws/style.css">

  <!-- Roboto -->
  <link rel="stylesheet" href="/lib/roboto/roboto.css">

  <!-- Materializecss -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">

  <!-- Menu -->
  <link rel="stylesheet" href="/lib/css/menu-mz.css">

  <!-- SFree -->
  <link rel="stylesheet" href="/css/sfree.css">

</head>

<body class="page-view no-scroll">
    <!-- Menu -->
  <%- include('../include/menu.ejs') %>

  <!-- bg games -->
  <div class="bg_game">
    <div class="img_bg glass-container"></div>
    <div class="container-info">
        <div class="container py-4">
            <div class="info-row">
                <div class="info-col info-left">
                    <div class="contenedor-info">
                        <div class="cover z-depth-2">
                            <div class="download_art green z-depth-2 text-resize">
                                Descargar
                            </div>
                        </div>
                        <div class="ratings ratings_conts">
                            <div class="title-ratings text-resize">
                                Calificaciones
                            </div>
                            <div class="list-ratings">
                                <!-- <div class="ratings-recommended" data-is="exceptional">
                                    <div class="title-rat">
                                        Excelente
                                    </div>
                                    <div class="progress-ratings">
                                        <div class="run-progress-ratings exceptional"></div>
                                    </div>
                                </div>

                                <div class="ratings-recommended" data-is="recommended">
                                    <div class="title-rat">
                                        Recomendado
                                    </div>
                                    <div class="progress-ratings">
                                        <div class="run-progress-ratings recommended"></div>
                                    </div>
                                </div>

                                <div class="ratings-recommended" data-is="meh">
                                    <div class="title-rat">
                                        Promedio
                                    </div>
                                    <div class="progress-ratings">
                                        <div class="run-progress-ratings meh"></div>
                                    </div>
                                </div>

                                <div class="ratings-recommended" data-is="skip">
                                    <div class="title-rat">
                                        No Recomendado
                                    </div>
                                    <div class="progress-ratings">
                                        <div class="run-progress-ratings skip"></div>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="ratings ratings_stores">
                            <div class="title-ratings text-resize">
                                Tiendas
                            </div>
                            <div class="stores-list">
                                <!-- <li>
                                    <div class="store-btn text-resize">Steam</div>
                                </li> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-col info-right">
                    <div class="contenedor-info">
                        <div class="sprt">
                            <div class="title-sprt">
                                Generos & Tags
                            </div>
                            <div class="all_genres_tags">
                                <!-- <li>
                                    <a href="#">Accion</a>
                                </li> -->
                            </div>
                        </div>

                        <div class="sprt">
                            <div class="title-sprt">
                                Acerca de
                            </div>
                            <div class="about_art">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis sed dolores fuga eos asperiores? Possimus ipsum, quas omnis architecto quasi quos commodi voluptate nulla autem, vero vel! Nisi, optio modi.
                            </div>
                        </div>

                        <div class="sprt">
                            <div class="title-sprt">
                                Información
                            </div>
                            <div class="info_devs_publisher">
                                <li>
                                    <div class="title_dev">Platforms:</div>
                                    <div class="devs_list" id="platforms">
                                        <!-- <span>Xbox Series S/X</span>
                                        <span>PlayStation 4</span>
                                        <span>PlayStation 5</span>
                                        <span>PC</span> -->
                                    </div>
                                </li>
                                <li>
                                    <div class="title_dev">Developers:</div>
                                    <div class="devs_list" id="developers">
                                        <!-- <span>Xbox Series S/X</span>
                                        <span>PlayStation 4</span>
                                        <span>PlayStation 5</span>
                                        <span>PC</span> -->
                                    </div>
                                </li>
                                <li>
                                    <div class="title_dev">Publisher:</div>
                                    <div class="devs_list" id="publisher">
                                        <!-- <span>Xbox Series S/X</span>
                                        <span>PlayStation 4</span>
                                        <span>PlayStation 5</span>
                                        <span>PC</span> -->
                                    </div>
                                </li>
                            </div>
                        </div>

                        <div class="sprt requi_view">
                            <div class="title-sprt">
                                Requisitos del Sistema
                            </div>
                            <div class="requisitos_art">
                                <div class="requi_minimos sprt-requi pre-line-js"></div>
                                <div class="requi_reco sprt-requi pre-line-js"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  

  <!-- jquery -->
  <script src="/lib/jQuery/jquery.module.js"></script>

  <!-- materialize -->
  <script src="/lib/materialize/js/materialize.min.js"></script>
  <script src="/lib/materialize/js/init.js"></script>

  <!-- pagination -->
  <script src="/lib/paginations/pagination.min.js"></script>

  <!-- saved -->
  <script src="/lib/js/saved.js"></script>

  <!-- util -->
  <script src="/lib/js/codeutilkit.js"></script>

  <!-- SFree -->
  <script src="/js/sfree.js"></script>
</body>

</html>